.trainerContainer{
  
  height: auto;
  background-color: antiquewhite;
  margin-top: 0;
  display: flex;
  flex-direction: column;
 
  .trainerCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .trainerInfo{
     
    }
    .trainerImg{
      
      img{
          
      }
    }
  }
}