.trainerContainer {
  height: auto;
  background-image: url(./images/blurredbg.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-position-y:25rem ;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  z-index: -10;

  .titleContainer {
    margin-right: 5rem;
    z-index: 10;
  }

  .trainerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 7rem;
    z-index: 10;
    height: 20rem;

    .trainerInfo {
      width: 30%;
      display: flex;
      flex-direction: column;
      font-size: 150%;
      p {
        width: 100%;
        font-size: 2.5rem;
        margin-top: 0;
      }
    }

    .trainerImg {
      width: 50%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }
}

span {
  color: #a1bf57;
}

@media screen and (max-width: 768px) {
  .trainerContainer {
    height: auto;
    background-image: url(./images/blurredbg.png);
    background-repeat: repeat-y;
    background-size: 100% 30%;
    background-position: center;
    background-position-y: 1rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
    z-index: -10;

    .titleContainer {
      margin-right: 4rem;
      z-index: 10;
      font-size: 150%;
      h1 {
        width: 50%;
      }
    }

    .trainerCard {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding: 3rem;

      z-index: 10;

      .trainerInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 150%;
        margin-top: 0;
        margin-right: 3rem;

        p {
          width: 70%;
          font-size: 2.5rem;
          margin-top: 0;
        }
      }

      .trainerImg {
        width: 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 50%;
          width: 15rem;
          height: 15rem;
        }
      }
    }
  }
}
